# Language fundamentals

## Variables

### Defining (immutable) variables

In [ ]:
let x = 42;
let pi = 3.1415;
let s = "Hello, 2330!";
let lie = false;

println!("Meaning of life, the universe and everything is {}.", x);

let x = -1;
println!("Meaning of life, the universe and everything is {}.", x);

### Defining mutable variables

In [ ]:
let mut x = 1;

x += 1;
x += 1;

println!("x is {}", x);

## Basic data types

### Integer types

In [ ]:
let x = 1; // i32

let tiny: i8 = -5;
let small: i16 = -4;
let medium: i32 = -3;
let large: i64 = -2;
let huge: i128 = -1;

let tiny2: u8 = 1;
let small2: u16 = 2;
let medium2: u32 = 3;
let large2: u64 = 4;
let huge2: u128 = 5;

let tiny3 = 1i8;

let huge3 = tiny as i128;

### Integer literals

In [ ]:
// Decimal
println!("1bn is {}", 1_000_000_000);
// Binary
println!("0b1101 is {}", 0b1101);
// Hexadecimal
println!("0xe is {}", 0xe);
// Octal
println!("0o17 is {}", 0o17);
// Byte
println!("b' ' is {}", b' ');

### Floating-point types

In [ ]:
let pi = 3.1415; // f64
let million: f32 = 1_000_000.;
let billion: f64 = 10f64.powf(9f64);

println!("pi is {}", pi);
println!("1m is {}", million);
println!("1bn is {}", billion);

let trillion = (million as f64).powf(2.);
println!("1trn is {}", trillion);

### Boolean type

In [ ]:
let world_is_round = true;
let world_is_flat: bool = false;

### Character type

In [ ]:
let c = 'a';
let pi: char = 'Ï€';
let space_invader = 'ðŸ‘¾';

println!("{} is 3.1515", pi);

println!(
    "{} consumes {} bytes",
    space_invader,
    std::mem::size_of_val(&space_invader)
);

### Tuple type

In [ ]:
let sales = (1, 2.54);

println!("${}bn of revenue was booked in Q{}", sales.1, sales.0);

let (quarter, revenue) = sales;
println!("${}bn of revenue was booked in Q{}", revenue, quarter);

// Unit value
let empty_tuple = ();

### Arrays

In [ ]:
let primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29];
println!("There are {} prime numbers", primes.len());
println!("First prime is {}", primes[0]);
println!("Last prime is {}", primes[primes.len() - 1]);

let mut a = [1, 2, 3];
a[2] = 4;
println!("a[2] is now {}", a[2]);

let five_primes: [i32; 5] = [2, 3, 5, 7, 11];

let six_ones = [1; 6];
println!("Last value of six_ones is {}", six_ones[5]);

## Operators and expressions

### Math operators

In [ ]:
let x = 5 + 2;
let y = 5 / 2;
let z = 5 % 2;
let minus_z = -z;

println!("{}", 5. / 2.);

println!("{}", (8 + 4) / 2);

println!("abs(-1) is {}", (-1i32).abs());
println!("sqrt(2) is {}", 2f64.sqrt());
println!("2^8 is {}", 2i32.pow(8));
println!("sin(30) is {}", (30. * 3.1415 / 180. as f64).sin());

### Comparison and logical operators

In [ ]:
println!("{}", 1 == 2);
println!("{}", 1 != 2);

println!("{}", 1 > 2);
println!("{}", 1 >= 2);
println!("{}", 1 < 2);
println!("{}", 1 <= 2);

let x = 42;
println!("{}", x > 0 && x % 2 == 0);
println!("{}", x < 0 || x % 2 == 1);

### Bitwise operators

In [ ]:
println!("{}", 255 >> 2);
println!("{}", 4 | 8);
println!("{}", 12 & 8);
println!("{}", 12 ^ 255);

### Assignment operators

In [ ]:
let mut x = 1;
x += 1;
x *= 3;
println!("{}", x);

let mut a = 255;
a >>= 2;
println!("{}", a);

let mut b = 4u8;
b ^= 8;
println!("{}", b);

### Ternary conditional pattern

In [ ]:
let x = 42;

let sign = if x > 0 { "+ve" } else { "-ve" };
println!("{}", sign);

let parity = if x % 2 == 0 { "even" } else { "odd" };
println!("{}", parity);

## Conditional statements

### if-else expression

In [ ]:
let x = 42;

if x == 42 {
    println!("The meaning of life, the universe and everything");
}

let year = 2000;

if year % 100 == 0 {
    println!("{} is not a leap year", x);
} else if year % 4 == 0 {
    println!("{} is a leap year", x);
} else {
    println!("{} is not a leap year", x);
}

### Invalid if-else expression

In [ ]:
// Won't compile as all branches must result in same type
let x = if true { 1 } else { 3.1415 };

## Loops

### loop expressions

In [ ]:
loop {
    println!("This will get very tedious...");
    break;
}

### Exiting loops

In [ ]:
let mut countdown = 10;

loop {
    if countdown <= 0 {
        break;
    }

    println!("{}...", countdown);

    countdown -= 1;
}

println!("Blast off!");

### Returning values from loop expressions

In [ ]:
const MAXIMUM_VALUE: i32 = 100;

let mut running_sum_of_squares = 0;
let mut i = 1;

let sum_of_squares = loop {
    running_sum_of_squares += i * i;

    if i >= MAXIMUM_VALUE {
        break running_sum_of_squares;
    }

    i += 1;
};

println!("Sum of squares from 1 to 100 is {}", sum_of_squares);

### while loops

In [ ]:
b

### for loops

In [ ]:
let primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29];

let mut sum_of_primes = 0;

for prime in primes {
    sum_of_primes += prime;
}

println!("Sum of primes is {}", sum_of_primes);

### Range expressions

In [ ]:
let mut total = 0;

// Loop over 1 to 10 (upper limit is exclusive)
for i in 1..11 {
    total += i;
}

println!("Total is {}", total);

### Inclusive range expressions

In [ ]:
let mut total = 0;

// Loop over 1 to 10
for i in 1..=10 {
    total += i;
}

println!("Total is {}", total);

### Reversing range expressions

In [ ]:
for countdown in (1..=10).rev() {
    println!("{}...", countdown);
}

println!("Blast off!");

## Comments

### Comments

In [ ]:
// It's difficult to boil the meaning of
// life, the universe and everything down
// to a single number. And why 42?!
let x = 42;

/*
   It's difficult to boil the meaning of
   life, the universe and everything down
   to a single number. And why 43?!
*/
let y = 43;

let pi = 3.1415; // rounded to 4dp